body {
    margin-left: 5%;
    margin-right: 5%;
}
/* Header */
header h1 {
    color: black;
    margin: 30px;
}
/* -------main sections--------- */
main {
    margin: 10px auto;
}
/*---------------- Colors -------------------*/
.colors {
    border: 2px solid silver;
    height:max-content;
    margin: 10px auto;
    border-radius: 20px;
    padding: 15px;
    display: block;
}
.colors h2 {
    margin-bottom: 40px;
}
.allColors-container {
    border: 1px solid black;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.allColors-container div {
    border: 1px solid black;
    justify-content: space-around;
}
.color-panel1 {
    display: inline-block;
    max-width: 200px;
    width: 32%;
    min-width: 75px;
    margin: 20px auto;
    min-height: 100px;
    background-color: maroon;
}
.color-panel2 {
    display: inline-block;
    max-width: 200px;
    width: 32%;
    min-width: 75px;
    margin: 20px auto;
    min-height: 100px;
    background-color: whitesmoke;
}
.color-panel3 {
    display: inline-block;
    max-width: 200px;
    width: 32%;
    min-width: 75px;
    margin: 20px auto;
    min-height: 100px;
    background-color: lightgray;
}
.color-panel4 {
    display: inline-block;
    max-width: 200px;
    width: 32%;
    min-width: 75px;
    margin: 20px auto;
    min-height: 100px;
    background-color: burlywood;
}
/*---------------- Fonts -------------------*/
.fonts {
    border: 2px solid silver;
    border-radius: 20px;
    height:max-content;
    margin: 10px auto;
    padding: 15px;
    display: block;
}
.fonts-container {
    border: 1px solid black;
    margin: 10px auto;
    padding: 10px;
}
.fonts-container div h3{
    text-decoration: underline;
}
.fonts-container div {
    margin: 10px 20px;
}
.courierFont {
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
}
.sourceCodeFont {
    font-family: 'Source Code Pro', monospace;
    display: inline-block;
}
#sourcep1 {
    font-weight: 700;
}
.garamondFont {
    font-family: Garamond, serif;
    display: inline-block;
}
/*---------------- Text Styles -------------------*/
.textStyles {
    border: 2px solid silver;
    border-radius: 20px;
    height:max-content;
    margin: 10px auto;
    padding: 15px;
    display: block;
}
.textstyle-container {
    border: 1px solid black;
    margin: 10px auto;
    padding: 10px;
}
/*---------------- Buttons -------------------*/
.buttons {
    border: 2px solid silver;
    border-radius: 20px;
    height: max-content;
    margin: 10px auto;
    padding: 15px; 
    display: block;
}
.buttons-container {
    border: 1px solid black;
    margin: 10px auto;
    padding: 10px;
}